<section class="container">
    <div class="sidebar">

    </div>

    <section class="repositories">
        <section class="search-area">

        </section>
        <ul class="repo-url">

        </ul>

    </section>
</section>
