<input type="search" placeholder="Find a repository..." class="search">
<button class="search-button">Search</button>
<ul class="search-list">
<li class="nav active">All</li>
<li class="nav">Public</li>
<li class="nav">Private</li>
<li class="nav">Sources</li>
<li class="nav">Forks</li>
<li class="nav">Mirrors</li>
<li><button class="new-repo"><span class="octicon octicon-repo"></span>New</button></li>
</ul>
