// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

$border-bottom-color: #eeeeee;
$icon-color: #cccccc;
$link-color: #4183c4;
$repo-description: #666666;
$update-color: #888888;
$search-area-border: $light-gray;
$search-box-text: #a9a9a9;

@mixin border-bottom(){
  border-bottom: 1px solid $border-bottom-color;
}
