.container{
  @include outer-container(980px);
  margin-top: 20px;
}

.repositories{
  @include span-columns(5);
}
.search-area {
  width: 100%;;
  height: 60px;
}
.search {
  width: 30%;
}
.search-button,
.nav,
.new-repo {
  
}