@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';
$grid-columns: 7;
@import "page_setup";
@import "colors";
@import "user";
@import "repos";
@import "search-area";

// Typography
$base-font-family: $helvetica;



body {
  font-family: $base-font-family;
  background-color: #ffffff;
  color: $base-font-color;
}

